.result-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    background-color: #082784;
    color:white;
    min-height:100%;
    background-size: contain;
    padding:10px;
}
.box-container{
    display: flex;
    flex-direction: column;
    gap:30px;
    height: inherit;
    border-radius: 20px;
    box-shadow: rgba(238, 237, 237, 0.35) 0px 5px 15px;
    padding:20px;
    margin:80px;
}
.answered-result{
    font-size: 20px;
    width: 100%;
    text-align: center;
    padding-left:5%;
    text-align: left;
    padding-left: 20%;
}

.answered-percent{
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 24px;
    width:80%;
}

.message-container{
    /* background-color: #F992A7; */
    padding: 20px;
    border-radius: 20px;
    /* color:white; */
    color:black;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
}
.inspire{
font-size: 32px;
font-family:Georgia, 'Times New Roman', Times, serif;
color:white;
text-shadow: 2px 2px 4px #000000;
}

.passed{
      font-size: 20px;
      display: flex;
      flex-direction: column;
      gap:20px;
      text-align: left;
      font-family:Georgia, 'Times New Roman', Times, serif;
      color:white;
}
    
.failed{
    font-size: 24px;
    display: flex;
    flex-direction: column;
    gap:20px;
    text-align: left;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:white;
}
.total-result{
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}
.retake{
    display: flex;
    justify-content: space-between;
}
.link{
    padding:10px;
    border-radius: 10px;
    cursor: pointer;
    color: #0E46FD;
    font-size: 16px;
}
.question-contain{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap:16px;
}
.mainquestion{
    font-size:20px;
}
.option-main{
    width:100%;
    display:flex;
    justify-content: flex-start;
}
.options-contain{
    background-color: #0E46FCff;
    display:flex;
    flex-direction: column;
    width:45%;
    padding:8px;
    gap:10px;
}
.options-div{
    display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  gap:20px;
  background-color:#2057FD;
  background-image: linear-gradient(#eef5f7,#dfe8eb);
  background-size: 0 100%;
  background-repeat: no-repeat;
  color:white;
  padding:1%;
}
.option{
    width: 40%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.correct{
    background-color:white;
    color:#2057FD;
}
.incorrect{
  /* background-color: #F992A7; */
  background-color: #FC6F0E;
}
@media only screen and (max-width: 980px) {
    .result-container{
        padding:5px;
    }
    .box-container{
        margin:20px;
    }
    .options-contain{
        background-color: #0E46FCff;
        display:flex;
        flex-direction: column;
        width:80%;
        padding:8px;
        gap:10px;
    }
    .question-contain{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:16px;
        padding-right:20px;
    }
    .result-container{
        padding:50px 20px 50px 20px;
    }
    .option-main{
        justify-content: center;
    }
    .answered-percent{
        font-size: 18px;
    }
    .answered-result{
        text-align: center;
        padding-left:5%;
        text-align: left;
        font-size: 20px;
    }
    .total-result{
        flex-direction: column;
        font-size: 12px;
    }
       
    .passed{
        font-size: 20px;
    }
    .failed{
        font-size: 20px;
    }
}
