.main-container{
  display:flex;
  flex-direction:column;
  height:100%;
  width:100%;
  gap:16px;
  flex: 1;
}
.containerStyles{
    height: 5px;
    width: 80%;
    background-color: #DCE1EE;
    border-radius: 50;
    margin: 50;
  }
.progress-container{
  width:100%;
  display: flex;
  flex-direction: column;
  gap:32px;
  height:fit-content;
  padding-top: 60px;
}
  .fillerStyles {
    height: 100%;
    background-color: #0E46FCff;
    border-radius: inherit;
    text-align: right;
  }

 .labelStyles {
  font-size: 24px;
    color: black;
    font-weight: normal;
  }
  .answered-count{
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 0px 10rem 0px 10rem;

  }
  .questions{
    flex-grow: 1;
  }

  @media only screen and (max-width: 980px) {
    .main-container{
       gap:20px
    }
    .answered-count{
      padding: 0px 2rem 0px 2rem;
  
    }
  }