.MuiPaper-root{
padding:16px;
}
.MuiButtonBase-root .MuiButton-root{
    padding:10px;
    background-color:#0E46FD;
    color:white;
}
.MuiButtonBase-root .MuiButton-root:hover{
    padding:10px;
    background-color:#0E46FD;
    color:white;
}