.question-container{
    text-align: left;
    display:flex;
    flex-direction:column;
    height:100%;
   gap:60px;
   padding-top:20px;
    align-items:center;
    justify-content: center;
    color: black;
   }

.mainquestion-in{
  display: flex;
  justify-content: center;
  align-items: center;
    font-weight: normal;
    font-size: 36px;
   width:100%;
   text-align: center;
   animation: slideIn 1s ease-in-out forwards;
}
.mainquestion-out{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: normal;
  font-size: 36px;
 width:100%;
 text-align: center;
 animation: slideOut 1s ease-out forwards;
}

@keyframes slideIn {
  from {
    right: -100%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    right: 0;
    opacity: 1;
  }
  to {
    right: -100%;
    opacity: 0;
  }
}

.history{
  text-align: left;
  display: flex;
  width:100%;
  justify-content: flex-start;
  padding-left:40px;
}
.main-questcontainer{
  background-color: #0E46FD;
  position:relative;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
flex-grow: 1;
width:100%;
}
.options-container-in{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:16px;
  height:100%;
  width:100%;
  animation: slideIn 1s ease-in-out forwards;
}
.options-container-out{
  /* background-color: #0E46FD; */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap:16px;
height:100%;
width:100%;
animation: slideOut 1s ease-out forwards;
/* animation-delay: .21s; */
}

.options-div-false{
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: flex-start;
  gap:20px;
  background-color:#2057FD;
  background-image: linear-gradient(#eef5f7,#dfe8eb);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: .1s;
  color:white;
  transition: 0.1s, background-position 0s;
}

.options-div-true{
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: flex-start;
  gap:20px;
  background-color:white;
  background-image: linear-gradient(#eef5f7,#dfe8eb);
  background-size: 0 100%;
  background-repeat: no-repeat;
  transition: .7s;
  color:#2057FD;
  transition: 0.7s, background-position 0s;
}

 .loading{
 border: #dfe8eb 1px solid;
  border-radius: 50%;
 height:30px;
  width:30px;
  position: absolute; 
  left: 50%; 
  transform: translate(-50%, -50%);
  margin-top: 24px;
  opacity: 0.7;
 }
.active{
  background-size: 100% 100%;
  color:#2057FD;
}
.options-subdiv{
  display: flex;
  align-items: center;
  justify-content: center;
  gap:60px;
  
}
.options{
  width: 40%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sub-div{
  background-color: white;
  width:4px;
  height: 60px;
}

.decor-div1{
  background:rgba(255,255,255,0.7);
  position: relative;
  width: 90%;
  height: 8px;
}

.decor-div1:nth-child(2) {
  background:rgba(255,255,255,0.5);
  width: 89%;
  height: 8px;
}

.decor-div1:nth-child(3) {
  background:rgba(255,255,255,0.3);
  width: 88%;
  height: 8px;
}


@media only screen and (max-width: 880px) {
  .question-container{
    gap:90px;
  }
  .mainquestion-in{
    text-align: left;
    padding-left:20px;
    font-size:32px;
    font-weight: normal;
    height:100px;
  }
  .mainquestion-out{
    text-align: left;
    padding-left:20px;
    font-size:32px;
    font-weight: normal;
    height:100px;
  }
  .options-div-false{
    width: 60%;
  }
  .options-div-true{
    width: 60%;
  }
  .decor-div1{
    background:rgba(255,255,255,0.7);
    position: relative;
    width: 90%;
    height: 6px;
  }
  
  .decor-div1:nth-child(2) {
    background:rgba(255,255,255,0.5);
    /* position: absolute; */
    width: 88%;
    
    height: 6px;
  }
  
  .decor-div1:nth-child(3) {
    background:rgba(255,255,255,0.3);
    /* position: absolute; */
    width: 86%;
  
    height: 6px;
  }
  .mainquestion{
    font-size: 26px;
   text-align: center;
}
.options-container-in{
gap:10px;
height:100%;
padding-top: 4px;
}
.options-container-out{
gap:10px;
height:100%;
padding-top: 4px;
}
.options{
  height:55px;
}
.sub-div{
  height:55px;
}
}
